.DS_Store
*.orig
*.jar.properties
*.class
backup/*
out/*
*/target
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/*
**/*.iml
*.iml
!skedgo-java.iml
.idea/artifacts/Server_war_exploded.xml
Common/src/main/java/com/buzzhives/common/Me.java
*-sources.jar
GisBuilder/src/com/buzzhives/GisBuilder/BisectHelper.java
target
.idea/